@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  outline: none;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

.background_wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(73, 73, 73, 0.42)), to(rgba(73, 73, 73, 0.42))), url("assets/factory-g5c954d237_1920.jpg") no-repeat no-repeat;
  background: linear-gradient(rgba(73, 73, 73, 0.42), rgba(73, 73, 73, 0.42)), url("assets/factory-g5c954d237_1920.jpg") no-repeat no-repeat;
  background-size: 100%;
  background-position-x: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: calc(100% - 200px);
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 110px;
  margin-bottom: 20px;
}

.header .wrapper {
  width: calc(100% - 200px);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  height: 100%;
}

.logo_image {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("assets/лого.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.logo_title {
  display: block;
  text-align: center;
  width: 400px;
  height: 170px;
  font-family: 'Proxima Nova Black', sans-serif;
}

.red {
  display: block;
  margin-top: 50px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #af1e22;
}

.black {
  display: block;
  margin-top: 15px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #221f1f;
}

.white_circuit {
  text-shadow: -0   -2px 1px #FFFFFF, 0   -2px 1px #FFFFFF, -0    2px 1px #FFFFFF, 0    2px 1px #FFFFFF, -2px -0   1px #FFFFFF, 2px -0   1px #FFFFFF, -2px  0   1px #FFFFFF, 2px  0   1px #FFFFFF, -1px -2px 1px #FFFFFF, 1px -2px 1px #FFFFFF, -1px  2px 1px #FFFFFF, 1px  2px 1px #FFFFFF, -2px -1px 1px #FFFFFF, 2px -1px 1px #FFFFFF, -2px  1px 1px #FFFFFF, 2px  1px 1px #FFFFFF, -2px -2px 1px #FFFFFF, 2px -2px 1px #FFFFFF, -2px  2px 1px #FFFFFF, 2px  2px 1px #FFFFFF, -2px -2px 1px #FFFFFF, 2px -2px 1px #FFFFFF, -2px  2px 1px #FFFFFF, 2px  2px 1px #FFFFFF;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  height: 50px;
  color: #ffffff;
}

.adress span {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.adress span:nth-child(3) {
  font-size: 18px;
  text-transform: uppercase;
  color: #af1e22;
  margin-top: 7px;
}

.contacts {
  width: 210px;
  height: 85px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.contacts span {
  color: #ffffff;
  margin-left: 4px;
}

.menu {
  width: 50%;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.menu_list li > a {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.startscreen_content {
  width: 100%;
  height: 670px;
}

.startscreen_content .wrapper {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 130px;
}

.startscreen_content h2 {
  width: 65%;
  text-align: left;
  font-size: 50px;
  color: #ffffff;
  font-weight: 400;
}

.startscreen_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 55px;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  background-color: #af1e22;
  cursor: pointer;
}

.about_us {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 800px);
  margin-bottom: 55px;
}

.about_us div {
  width: calc(50% - 35px);
}

.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 60px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 22px;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
}

.slider_main {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.slide {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide1 {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(0.5%, rgba(0, 0, 0, 0.61)), to(rgba(0, 0, 0, 0.61))), url("assets/article_01_img_02.jpg") no-repeat no-repeat;
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("assets/article_01_img_02.jpg") no-repeat no-repeat;
  background-size: cover;
  background-position-y: center;
}

.slide2 {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(0.5%, rgba(0, 0, 0, 0.51)), to(rgba(0, 0, 0, 0.51))), url("assets/factory-g5c954d237_1920.jpg") no-repeat no-repeat;
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.51) 0.5%, rgba(0, 0, 0, 0.51) 100%), url("assets/factory-g5c954d237_1920.jpg") no-repeat no-repeat;
  background-size: cover;
  background-position-y: center;
}

.slide3 {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(0.5%, rgba(0, 0, 0, 0.61)), to(rgba(0, 0, 0, 0.61))), url("assets/photo.jpg") no-repeat no-repeat;
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("assets/photo.jpg") no-repeat no-repeat;
  background-size: cover;
  background-position-y: center;
}

.motto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 200px;
  border: 7px solid #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  color: #FFFFFF;
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("assets/ofont.ru_Proxima Nova.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */