* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: calc(100% - 150px);
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 200px;
  background: #bfb18b;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 100%;
}

.logo_image {
  display: block;
  width: 150px;
  height: 150px;
  background-image: url("assets/лого.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.logo_title {
  display: block;
  text-align: center;
  width: 550px;
  height: 170px;
  font-family: 'Proxima Nova Black', sans-serif;
}

.red {
  display: block;
  margin-top: 45px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 22.95px;
  color: #af1e22;
}

.black {
  display: block;
  margin-top: 15px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 29.75px;
  color: #221f1f;
}

.white_circuit {
  text-shadow: 
		-0   -2px 1px #FFFFFF,
		 0   -2px 1px #FFFFFF,
		-0    2px 1px #FFFFFF,
		 0    2px 1px #FFFFFF,
		-2px -0   1px #FFFFFF,
		 2px -0   1px #FFFFFF,
		-2px  0   1px #FFFFFF,
		 2px  0   1px #FFFFFF,
		-1px -2px 1px #FFFFFF,
		 1px -2px 1px #FFFFFF,
		-1px  2px 1px #FFFFFF,
		 1px  2px 1px #FFFFFF,
		-2px -1px 1px #FFFFFF,
		 2px -1px 1px #FFFFFF,
		-2px  1px 1px #FFFFFF,
		 2px  1px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		 2px -2px 1px #FFFFFF,
		-2px  2px 1px #FFFFFF,
		 2px  2px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		 2px -2px 1px #FFFFFF,
		-2px  2px 1px #FFFFFF,
		 2px  2px 1px #FFFFFF;
}

.adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 135px;
  color: #af1e22;
  text-shadow: 1.5px 1px #FFFFFF;

  & span {
    font-size: 18px;
    font-weight: 600;
    color: #221f1f;
  }

  & span:nth-child(3) {
    font-size: 20px;
    text-transform: uppercase;
    color: #af1e22;
    margin-top: 7px;
  }
}

.contacts {
  width: 220px;
  height: 85px;
  color: #af1e22;
  text-shadow: 1px 1px #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  

  & span {
    color: #221f1f;
    margin-left: 4px;
  }
}

.navigation {
  width: 100%;
  height: 75px;
  background: rgb(70, 70, 70);
}

.menu.wrapper {
  width: calc(100% - 700px);
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  & li > a {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
  }
}



@font-face {
  font-family: "Proxima Nova Black";
  src: url("assets/ofont.ru_Proxima\ Nova.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  } 