* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
  border: none;
  outline: none;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

.background_wrapper {
  background: linear-gradient(rgba(54, 54, 54, 0.52), rgba(56, 56, 56, 0.52)), url("assets/factory-g5c954d237_1920.jpg") no-repeat no-repeat;
  background-size: 100%;
  background-position-x: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: calc(100% - 200px);
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 110px;
  //background: #414141;
  margin-bottom: 20px;

  & .wrapper {
    width: calc(100% - 200px);
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  height: 100%;
}

.logo_image {
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("assets/лого.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.logo_title {
  display: block;
  text-align: center;
  width: 400px;
  height: 170px;
  font-family: 'Proxima Nova Black', sans-serif;
}

.red {
  display: block;
  margin-top: 50px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #af1e22;
}

.black {
  display: block;
  margin-top: 15px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #221f1f;
}

.white_circuit {
  text-shadow: 
		-0   -2px 1px #FFFFFF,
		 0   -2px 1px #FFFFFF,
		-0    2px 1px #FFFFFF,
		 0    2px 1px #FFFFFF,
		-2px -0   1px #FFFFFF,
		 2px -0   1px #FFFFFF,
		-2px  0   1px #FFFFFF,
		 2px  0   1px #FFFFFF,
		-1px -2px 1px #FFFFFF,
		 1px -2px 1px #FFFFFF,
		-1px  2px 1px #FFFFFF,
		 1px  2px 1px #FFFFFF,
		-2px -1px 1px #FFFFFF,
		 2px -1px 1px #FFFFFF,
		-2px  1px 1px #FFFFFF,
		 2px  1px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		 2px -2px 1px #FFFFFF,
		-2px  2px 1px #FFFFFF,
		 2px  2px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		 2px -2px 1px #FFFFFF,
		-2px  2px 1px #FFFFFF,
		 2px  2px 1px #FFFFFF;
}

.menu {
  width: 50%;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  & li > a {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.menu_link:hover {
  text-shadow: 4px 4px 5px rgba(255, 255, 255, 0.7);
}

.startscreen_content {
  width: 100%;
  height: 670px;

  & .wrapper {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
    padding-top: 100px;
    padding-bottom: 130px;
  }
}

.startscreen_title {
  width: 75%;
  text-align: left;
  font-size: 70px;
  color: #ffffff;
  font-weight: 400;
}

.startscreen_subtitle {
  width: 55%;
  text-align: left;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 30px;
}

.startscreen_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 55px;
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
  background-color: #af1e22;
  margin-top: 120px;
  cursor: pointer;
}

.services {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 400px);
  margin-bottom: 55px;

  & div {
    width: calc(50% - 35px);
  }
}

.title {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 60px;
  letter-spacing: 0.5px;
  //text-indent: 1.5em; /* Отступ первой строки */
  //text-align: justify; /* Выравнивание по ширине */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  width: 350px;
  height: 240px;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover h3 {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 5px #ffffff;
  }
}

.tech_diagnostika {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/photo.jpg") no-repeat;
  background-size: cover;
}

.card2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/02.jpg") no-repeat;
  background-size: cover;
}

.card3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/3.jpg") no-repeat;
  background-size: cover;
}

.card4 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/cards/montazh_vodogrejnih_kotlov.jpg") no-repeat;
  background-size: cover;
}

.card5 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/proektirovanie.jpg") no-repeat;
  background-size: cover;
}

.card6 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/dymovye_truby.jpg") no-repeat;
  background-size: cover;
}

.card7 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/vosstanovlenie-dokumentacii.jpg") no-repeat;
  background-size: cover;
}

.card8 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/osobennosti_sovremennoj_antikorrozionnoj_zashchity_obektov_1-1024x695-1.jpg") no-repeat;
  background-size: cover;
}

.card9 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("/assets/modernizaciya.jpg") no-repeat;
  background-size: cover;
}

h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 84%;
  height: 78%;
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 400;
  margin: 0 auto;
  padding-left: 20px;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
}

.slider_main {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("assets/article_01_img_02.jpg") no-repeat no-repeat;
  background-size: cover;
  background-position-y: center;
}

.slide2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.51) 0.5%, rgba(0, 0, 0, 0.51) 100%), url("assets/factory-g5c954d237_1920.jpg") no-repeat no-repeat;
  background-size: cover;
  background-position-y: center;
}

.slide3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("assets/photo.jpg") no-repeat no-repeat;
  background-size: cover;
  background-position-y: center;
}

.motto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 200px;
  border: 7px solid #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  color: #FFFFFF;
}


.contacts {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.contacts_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #221f1f;
  height: 450px;
}

h4 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 13px;
}

#map {
  width: 750px;
  height: 450px;
  background: url("assets/map.jpg") no-repeat;
  background-size: cover;
}

.footer {
  width: 100%;
  height: 55px;
  color: #FFFFFF;
  text-align: center;
  background-color: #af1e22;

  & .wrapper {
    justify-content: center;
  }

  & span {
    font-size: 14px;
  }
}


@font-face {
  font-family: "Proxima Nova Black";
  src: url("assets/ofont.ru_Proxima\ Nova.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  } 