* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.3s;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: calc(100% - 400px);
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 95px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100%;
}

.logo_image {
  display: block;
  width: 90px;
  height: 90px;
  background-image: url("../../assets/лого.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.logo_title {
  display: block;
  text-align: center;
  width: 420px;
  height: 150px;
  font-family: 'Proxima Nova Black', sans-serif;
}

.red {
  display: block;
  margin-top: 48px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #af1e22;
}

.black {
  display: block;
  margin-top: 10px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #221f1f;
}

.adress {
  width: 180px;
  height: 45px;
  line-height: 25px;
  color: #af1e22;

  & span {
    font-size: 14px;
    font-weight: 700;
    color: #221f1f;
  }
}

.contacts {
  width: 180px;
  height: 75px;
  color: #af1e22;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  

  & span {
    color: #221f1f;
    margin-left: 4px;
  }
}

.navigation {
  width: 100%;
  height: 45px;
  background: #973636;
  //box-shadow: 0 0 -10px rgba(255, 255, 255, 0.5);
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style-type: none;

  & li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.menu_list_item {
  height: 100%;
  width: 25%;
}

.menu_link:hover {
  background-color: #7a1417;
}

.menu_link.active {
  background-color: #353535;
}

.main_header {
  width: 100%;
  background-color: #ececec;
  margin-top: 10px;
  margin-bottom: 10px;

  & .wrapper {
    flex-direction: column;
    align-items: flex-start;

    & div {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

h2 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}

.services {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 400px);
  margin-bottom: 55px;

  & div {
    width: calc(50% - 35px);
  }
}

.title {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 60px;
  letter-spacing: 0.5px;
  //text-indent: 1.5em; /* Отступ первой строки */
  //text-align: justify; /* Выравнивание по ширине */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  width: 350px;
  height: 240px;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover h3 {
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 5px #ffffff;
  }
}

.tech_diagnostika {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/photo.jpg") no-repeat;
  background-size: cover;
}

.card2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/02.jpg") no-repeat;
  background-size: cover;
}

.card3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/3.jpg") no-repeat;
  background-size: cover;
}

.card4 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/cards/montazh_vodogrejnih_kotlov.jpg") no-repeat;
  background-size: cover;
}

.card5 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/proektirovanie.jpg") no-repeat;
  background-size: cover;
}

.card6 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/dymovye_truby.jpg") no-repeat;
  background-size: cover;
}

.card7 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/vosstanovlenie-dokumentacii.jpg") no-repeat;
  background-size: cover;
}

.card8 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/osobennosti_sovremennoj_antikorrozionnoj_zashchity_obektov_1-1024x695-1.jpg") no-repeat;
  background-size: cover;
}

.card9 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 0.5%, rgba(0, 0, 0, 0.61) 100%), url("../../assets/modernizaciya.jpg") no-repeat;
  background-size: cover;
}

h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 84%;
  height: 78%;
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 400;
  margin: 0 auto;
  padding-left: 20px;
}

.footer {
  width: 100%;
  height: 55px;
  color: #FFFFFF;
  text-align: center;
  background-color: #973636;

  & .wrapper {
    justify-content: center;
  }

  & span {
    font-size: 14px;
  }
}

.service {
  width: 100%;

  & .wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  & .bold {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
  }
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 3px solid #A20000;
  font-size: 16px;
  padding-left: 15px;
  text-indent: 0;
}

.metod {
  margin-top: 20px;
}

.metod_title {
  font-size: 20px;
  line-height: 1.3em;
  font-weight: 400;
  margin-bottom: 10px;
}

.chek_mark {
  width: 480px;
  height: 30px;
  background: url("../../assets/icons8-галочка.svg") no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #7a1417;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("assets/ofont.ru_Proxima\ Nova.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  } 