* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: calc(100% - 400px);
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 95px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100%;
}

.logo_image {
  display: block;
  width: 90px;
  height: 90px;
  background-image: url("../../assets/лого.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.logo_title {
  display: block;
  text-align: center;
  width: 420px;
  height: 150px;
  font-family: 'Proxima Nova Black', sans-serif;
}

.red {
  display: block;
  margin-top: 48px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #af1e22;
}

.black {
  display: block;
  margin-top: 10px;
  font-family: 'Proxima Nova Black', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #221f1f;
}

.adress {
  width: 180px;
  height: 45px;
  line-height: 25px;
  color: #af1e22;

  & span {
    font-size: 14px;
    font-weight: 700;
    color: #221f1f;
  }
}

.contacts {
  width: 180px;
  height: 75px;
  color: #af1e22;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  

  & span {
    color: #221f1f;
    margin-left: 4px;
  }
}

.navigation {
  width: 100%;
  height: 45px;
  background: #973636;
  //box-shadow: 0 0 -10px rgba(255, 255, 255, 0.5);
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  & li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.menu_list_item {
  height: 100%;
  width: 25%;
}

.menu_link:hover {
  background-color: #7a1417;
}

.menu_link.active {
  background-color: #353535;
}

.main_header {
  width: 100%;
  background-color: #ececec;
  margin-top: 10px;
  margin-bottom: 10px;

  & .wrapper {
    flex-direction: column;
    align-items: flex-start;

    & div, h2 {
      margin-top: 15px;
    }
  }
}

h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.otzyvy_section {
  width: 100%;
  margin-top: 20px;

  & .wrapper {
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 30px;//calc((100% - 1088px)/3);
  }
}

.otzyv {
  width: calc((1088px - 30px)/5);//272px;
  height: 287px; //368px;
  box-shadow: 0 0 10px #919191;
  margin-bottom: 30px;
  
  & img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: zoom-in;
  }
}

.footer {
  width: 100%;
  height: 55px;
  color: #FFFFFF;
  text-align: center;
  background-color: #973636;

  & .wrapper {
    justify-content: center;
  }

  & span {
    font-size: 14px;
  }
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("assets/ofont.ru_Proxima\ Nova.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  } 